body {
    display: flex;
    flex-flow: column;
    background: #F6F6F6;
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
}

header {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    position: fixed;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0 0 16px 16px;
}

header #nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 40px;
}

#nav-bar * {
    line-height: 24px;
    color: #373745;
}

#signout {
    line-height: 0;

}

#nav-bar .active {

    background: #60C2AA;
    border-radius: 200px;
    padding: 4px 12px;
    color: #FFF;
}

#nav-bar .active:hover {
    background-color: rgba(68, 183, 76, 0.99);
}

/*Центральная часть*/

#common {
    margin-top: 64px;
    padding: 80px 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}

.micro-text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}


/*Вкладка с игроками*/
#players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 111px 24px 24px;
    gap: 24px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
    /*Шрифт*/
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
}

.zero_cross {
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-flow: column;
    letter-spacing: 0.15px;
    gap: 4px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.container {
    display: flex;
    gap: 12px;
    flex-flow: row;
}

/*Игровое поле*/

.center_field {
    display: flex;
    width: 663px;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;

}


.time {


    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    padding: 24px;

    background: #EDEDED;
    border-radius: 12px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    color: #373745;

}

.play_field {

    width: 663px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
}

.cell {
    width: 218.33px;
    height: 218.33px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Кто ходит*/
.whose_move {
    width: 400px;
    padding: 12px 69px 12px 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #373745;
    box-shadow: 0 4px 20px rgb(44 57 121 / 9%);
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    font-family: 'Roboto', serif;
    font-style: normal;

}

/*Чат игроков*/
#all_chat {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 0;
    margin-bottom: 88px;
    gap: 20px;
    width: 412px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', serif;
    letter-spacing: 0.24px;
    color: #373745;
}

.chat-bar {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 12px;
}

.interlocutor1 {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    align-self: flex-start;
    padding: 12px;
    gap: 8px;
    max-width: 352px;
    /*margin: 0 60px 0 0;*/

    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 16px 0;
    font-family: 'Roboto', serif;

}

.interlocutor2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    max-width: 352px;
    align-self: flex-end;
    /*margin: 0 0 0 60px;*/
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 0 16px;
    /* Body / 16px regular */

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.player1-text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #60C2AA;

}

.player2-text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #E38BAC;

}

.special-text {


    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    display: flex;
    align-items: center;
    letter-spacing: 0.24px;

    color: #373745;
}

.additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: -webkit-fill-available;

}
.send_bar{
    display: flex;
    flex-direction: row;

    padding: 0;
    gap: 12px;
    width: -webkit-fill-available;
}
.send_window
{
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

    font-family: 'Roboto',serif;
    font-style: normal;
    font-weight: 400;

    /* identical to box height, or 150% */

    display: flex;
    align-items: center;


    color: #373745;

}
.send{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 0 0 14px;
    gap: 8px;
    width: 48px;
    height: 48px;
    background: #60C2AA;
    border-radius: 12px;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}