body {
    display: flex;
    flex-flow: column;
    background: #F6F6F6;
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
    justify-content: space-between;
}

header {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    position: fixed;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0 0 16px 16px;
}

header #nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 40px;
}

#nav-bar * {
    line-height: 24px;
    color: #373745;
}

#signout {
    line-height: 0;

}

#nav-bar .active {

    background: #60C2AA;
    border-radius: 200px;
    padding: 4px 12px;
    color: #FFF;
}

#nav-bar .active:hover {
    background-color: rgba(68, 183, 76, 0.99);
}

/*.center{*/
/*    margin-top: 64px;*/
/*    padding: 50px 40px 130px 40px;*/
/*    display: flex;*/
/*    align-self: center;*/
/*}*/
.rating-players{
    margin: 120px 200px 64px 200px;
    display: flex;

    align-self: center;

    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;

    width: 1026px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}
.rating-title{
    font-family: 'Roboto',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Gray / 700 */

    color: #373745;
}
.rating-table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    width: -webkit-fill-available;
    height: fit-content;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4px 0;
    gap: 16px;
    width: 1020px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0 -1px 0 #EEEFF5;

    /* Body / 16px medium */

    font-family: 'Roboto',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.24px;

    /* Gray / 700 */

    color: #373745;
}
.cell{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;

    width: 440px;
    height: 40px;
}
.cell-common{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;

    width: 134px;
    height: 40px;
}
.row-dat{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4px 0;
    gap: 16px;
    width: 1020px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0 -1px 0 #EEEFF5;

    /* Body / 16px medium */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    letter-spacing: 0.24px;

    color: #373745;

    text-align: center;

}
.cell-common-win-color{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    color: #69B849;
    width: 134px;
    height: 40px;
}
.cell-common-lose-color{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    color: #E93E3E;
    width: 134px;
    height: 40px;
}